body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
}

.add-font {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #454545;
}

.header-row--top {
    background-color: #F8F8F8;
    margin-bottom: 15px;
}

.header__container {
    margin: 0 auto;
}

.header-container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-container--top {
    padding: 10px 15px;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
}

.main-menu__item {
    margin-right: 20px;
}

.main-menu__link {
    color: #000000;
    text-decoration: none;
}

.main-menu__link:hover {
    text-decoration: underline;
}

.order-call {
    display: flex;
}

.order-call__btn {
    font-weight: 600;
    color: #000000;
    margin-left: 6px;
}

.order-call__btn:hover {
    text-decoration: none;
}

.header-row--middle {
    margin-bottom: 15px;
}

.header-container--middle {
    padding: 0 15px;
}

.header__logo-wrapper {
    margin-right: 65px;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

.logo__text {
    font-weight: 800;
    font-size: 26px;
    line-height: 1;
    color: #161616;
    margin-left: 10px;
}

.logo__label {
    font-size: 13px;
    line-height: 1.23;
    opacity: 0.7;
    margin-top: 10px;
}

.header__search {
    margin-right: 20px;
}

.search {
    position: relative;
    flex-grow: 1;
    z-index: 1;
}

.search__input {
    font-weight: 600;
    color: #9D9D9D;
    background-color: #F8F8F8;
    border-radius: 30px;
    border: none;
    padding: 15px 0 15px 25px;
    width: 100%;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #9D9D9D;
}

.search__input::-moz-placeholder {
    color: #9D9D9D;
}

/* Firefox 19+ */

.search__input:-moz-placeholder {
    color: #9D9D9D;
}

/* Firefox 18- */

.search__input:-ms-input-placeholder {
    color: #9D9D9D;
}

.search__img {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

.header__phone {
    margin-right: 50px;
}

.phone-item {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.22;
    color: #161616;
    margin-bottom: 5px;
}

.phone-item__element {
    color: #00CC52;
}

.counter {
    display: flex;
}

.counter-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.counter-link--heart {
    margin-right: 15px;
}

.counter__element {
    background-color: #FEB618;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 52px;
    padding-top: 2px;
}

.counter-element--cart {
    left: 35px;
}

.counter__label {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    color: #161616;
}

.header__btn-menu {
    background-image: url(img/header__menu-btn.svg);
    background-color: transparent;
    border: none;
    height: 20px;
    width: 30px;
    cursor: pointer;
    margin-left: 5px;
    display: none;
    outline: none;
}

.header-row--bottom {
    background-color: #00CC52;
}

.header-container--bottom {
    padding: 20px 15px;
}

.catalog-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    outline: none;
}

.catalog-menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.catalog-menu__item {
    margin-right: 18px;
}

.catalog-menu__link {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog-menu__link:hover {
    color: #FEB618;
}

.catalog-link--sale {
    font-weight: 900;
    text-transform: uppercase;
}

.catalog-btn {
    background-image: url(img/catalog-btn.svg);
    background-color: transparent;
    border: none;
    height: 14px;
    width: 20px;
    cursor: pointer;
}

.main-page {
    background-image: url(img/background-img.png);
    background-repeat: no-repeat;
    background-position: top 340px left 0;
}

.slider {
    max-width: 1360px;
    margin: 20px auto 60px;
    text-align: center;
    display: block;
}

.slider__img {
    display: inline-block;
}

.center-block {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto 80px;
}

.title-container {
    text-align: center;
    margin-bottom: 35px;
}

.title--main-page {
    display: inline;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    color: #161616;
    position: relative;
    padding: 0 10px;
    margin: 0;
}

.title--main-page::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    background-color: #FEB618;
    width: 50px;
    height: 39px;
    z-index: -1;
}

.collections-block {
    display: grid;
    gap: 25px 30px;
    grid-template-columns: repeat(4, 1fr);
}

.collections-item {
    position: relative;
    display: block;
}

.collections-item--big {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.collections-item__label {
    position: absolute;
    top: 13px;
    margin: 0;
}

.collections-label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    text-align: center;
    color: #FFFFFF;
    padding: 3px 20px 5px;
    background: rgba(0, 204, 82, 0.9);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.collections-label--big {
    font-size: 32px;
    line-height: 1.22;
    padding: 4px 30px 7px;
    top: 25px;
}

.link-container {
    margin-top: 30px;
    text-align: center;
}

.link--main-page {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #161616;
    position: relative;
        padding-left: 32px;
}

.link--main-page::before {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.link--main-page:hover {
    text-decoration: none;
}

.collections__link::before {
    background-image: url(img/collections-link.svg);
}

.popular {
    overflow: hidden;
}

.popular-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.popular-item {
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
    height: 175px;
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #F9F9F9;
    box-shadow: 0px 4.13211px 10.0172px rgba(120, 120, 120, 0.035);
    border-radius: 10px;
}

.popular-item__img {
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
}

.popular-item__label {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    color: #161616;
    position: relative;
    margin: 25px 0 0 20px;
}

.popular__link::before {
    background-image: url(img/popular-link.svg);
}

.products__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.products-item {
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
    padding: 20px 20px 25px;
    position: relative;
}

.products-item:hover {
    z-index: 1;
}

.products-item__link {
    text-decoration: none;
}

.products-item__img {
    width: 100%;
}

.products-item__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #161616;
    margin: 20px 0 12px;
}

.products-price {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    color: #00CC52;
    margin: 2px 0 12px;
}

.products-price__element {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    color: #161616;
}

.products-price--old {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: line-through;
    color: #9D9D9D;
    margin: 0;
}

.products-item__cart {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    color: #FFFFFF;
    text-align: center;
    background-color: #00CC52;
    border: 1px solid #00CC52;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 7px 25px 8px 35px;
    position: relative;
}

.products-item__cart:hover {
    background-color: #FFFFFF;
    color: #00CC52;
    cursor: pointer;
}

.products-cart__text::before {
    content: "";
    position: absolute;
    left: 42px;
    top: 5px;
    width: 18px;
    height: 18px;
    background-image: url(img/products-cart.svg);
}

.products-item__modification {
    margin-top: 20px;
    position: absolute;
    left: -2px;
    right: -2px;
    display: none;
}

.product-modification {
    padding: 2px 48px 20px 29px;
    border: 2px solid #F8F8F8;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.product-modification__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.products-item:hover .products-item__modification {
    display: block;
}

.product-modification__material, .product-modification__price {
    font-size: 14px;
    line-height: 2;
}

.product-modification__material {
    display: flex;
}

.product-modification__material--img {
    margin-right: 8px;
    position: relative;
    top: 7px;
    max-height: 14px;
}

.product-modification__material--title, .product-modification__price--title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    color: #161616;
    margin-bottom: 8px;
}

.product-modification__price--title {
    width: 30%;
    max-width: 75px;
}

.banner {
    max-width: 1140px;
    margin: 0 auto 80px;
    display: block;
    text-align: center;
}

.banner__img {
    display: inline-block;
}

.advantages {
    background-color: #00CC52;
}

.advantages__container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.advantages-item {
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
}

.advantages-item__img {
    margin: 0 auto 12px;
    height: 89px;
}

.advantages-item__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: #FFFFFF;
}

.about-us {
    display: flex;
    align-items: flex-start;
    margin-bottom: 95px;
}

.about-us__img-container {
    position: relative;
    max-width: 50%;
}

.about-us__img-container::after {
    content: '';
    border: 4px solid #FEB618;
    position: absolute;
    top: 15px;
    right: -15px;
    bottom: -15px;
    left: 15px;
}

.about-us__text-container {
    margin-left: 50px;
    max-width: 45%;
}

.about-us__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.21;
    color: #161616;
    margin: 21px 0 30px;
}

.about-us__text {
    margin: 0 0 27px;
}

.reviews {
    overflow: hidden;
}

.reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.reviews-item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
}

.reviews-product__img {
    float: left;
}

.reviews-product__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #161616;
    margin: 0 0 15px 170px;
}

.reviews-product__price {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23px;
    color: #00CC52;
    margin-left: 170px;
}

.reviews-product__price--old {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: line-through;
    color: #9D9D9D;
}

.reviews-product__price--element {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.23;
    color: #161616;
}

.reviews-item__text {
    margin-top: 36px;
}

.reviews-item__customer {
    font-weight: 600;
    color: #161616;
    position: relative;
    padding-left: 24px;
}

.reviews-item__customer::before {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/reviews-customer.svg);
}

.reviews__link::before {
    background-image: url(img/reviews__link.svg);
}

.title-container__projects {
    margin-bottom: 15px;
}

.projects__link-container {
    margin-top: 0;
    margin-bottom: 40px;
}

.projects__link::before {
    background-image: url(img/projects-link.svg);
}

.projects__wrapper {
    display: flex;
    justify-content: center;
}

.projects-item__img {
    height: 100%;
    width: 100%;
}

.callback-block {
    background-color: #00CC52;
    background-image: url(img/callback-bg-img.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.callback-block__wrapper {
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
}

.callback-block__text {
    margin-right: 180px;
    max-width: 380px;
}

.callback-text__questions {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.23;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.callback-text__answer {
    color: rgba(255, 255, 255, 0.95);
}

.callback-form-wrapper__form {
    margin-top: 27px;
}

.callback-form__tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #9D9D9D;
    padding: 11px 15px;
    min-width: 280px;
    background-color: #F8F8F8;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 14px;
    outline: none;
}

.callback-form__btn {
    padding: 11px 14px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    background-color: #FEB618;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.callback-checkbox-label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.27;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    overflow: hidden;
}

.callback-checkbox-label__link {
    color: #FFFFFF;
}

.callback-checkbox__input {
    position: absolute;
    left: -30px;
}

.callback-checkbox__visual:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 13px;
    height: 13px;
    border: 1px solid #A6A6A6;
    border-radius: 2px;
    background: radial-gradient(50% 50% at 50% 50%, #DEDEDE 0%, #EDEDED 100%);
}

.callback-checkbox__visual:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 2px;
    top: 3px;
    width: 9px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #333333;
    border-bottom: 2px solid #333333;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.callback-checkbox__input:checked+.callback-checkbox__visual:after {
    opacity: 1;
}

.callback-checkbox__input:not(:checked)+.callback-checkbox__visual:after {
    opacity: 0;
}

.footer {
    background-color: #00BC4B;
    color: #FFFFFF;
}

.footer__wrapper {
    margin-bottom: 0;
    padding-top: 51px;
    padding-bottom: 55px;
    overflow: hidden;
}

.footer__nav {
    float: right;
    margin-left: 63px;
}

.footer-nav {
    max-width: 680px;
}

.footer__info, .footer__add-info {
    max-width: 367px;
}

.footer__logo {
    margin-bottom: 30px;
}

.logo-text--footer {
    color: #FFFFFF;
}

.phone-item--footer {
    color: #FFFFFF;
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
}

.phone-item__element--footer {
    color: #FEB618;
}

.phone-item--footer::before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url(img/phone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__mail {
    margin: 19px 0 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    position: relative;
    padding-left: 25px;
}

.footer__mail::before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url(img/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-dev {
    font-size: 16px;
    line-height: 1.25;
}

.footer-dev__element {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__text {
    margin-top: 24px;
    font-size: 14px;
    line-height: 160.6%;
}

.footer__copyright {
    margin-top: 24px;
    font-size: 14px;
    line-height: 160.6%;
}

.footer-nav__menu {
    margin-top: 22px;
}

.footer-menu__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: #FFFFFF;
    margin: 0 0 19px;
}

.footer-menu__list {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu__item {
    margin-bottom: 17px;
    box-sizing: border-box;
}

.footer-menu__item--collection {
    width: calc(100% / 4);
    padding-right: 20px;
}

.footer-menu__item--catalog {
    width: calc(100% / 3);
    padding-right: 30px;
}

.footer-menu__item--user {
    margin-right: 60px;
}

.footer-menu__link {
    font-size: 14px;
    line-height: 1.22;
    color: #FFFFFF;
    text-decoration: none;
}